/* colors: 78c0e0, 449dd1, 150578 */

body {
  font-family: "Kulim Park", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #150578;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a {
  min-width: 48px;
  min-height: 48px;
  text-decoration: none;
}

header {
  background-image: url("/images/cloudy.svg");
  background-size: cover;
  height: 60vh;
}

header img {
  width: 50px;
  padding-left: 10px;
}

nav {
  float: right;
  padding: 15px 10px;
}

nav a {
  cursor: pointer;
  overflow: hidden;
  color: #150578;
  border-bottom: 2px solid #150578;
  padding: 3px;
}

nav a:hover {
  border-radius: 5px;
  border: 1px solid #150578;
  transition: 0.5s;
}

address {
  background-color: #150578;
  color: #ffffff;
  text-align: center;
  font-size: 1rem;
  margin-top: 1px;
  margin-bottom: 1px;
  padding: 15px 0;
}

address a {
  color: #ffffff;
}

#intro {
  margin-top: 35%;
  color: #150578;
  padding-left: 10px;
  text-align: center;
  height: auto;
  font-size: 1.2rem;
  line-height: 1;
  padding: 5px;
}

h2 {
  font-weight: 600;
}

#bio,
#portfolio {
  height: 300px;
}

#portfolio {
  margin-top: 15px;
  box-shadow: 0 4px 8px #fcb8a1;
  transition: 0.3s;
}

#portfolio p,
#portfolio a,
#portfolio h2 {
  font-size: 1.2em;
  line-height: 1.5;
  padding-left: 10px;
}

#portfolio:hover {
  box-shadow: 0 8px 16px #fcb8a1;
}

.portfolio content {
  padding: 2px 16px;
}

section img {
  max-width: 95%;
  overflow: hidden;
  padding: 0 0 10px 8px;
}

#bio p,
#media p,
#bio h2 {
  width: 290px;
  margin: auto;
}

#media p {
  padding: 30px 0;
}

#media p span a {
  color: #150578;
}

footer {
  color: #150578;
  background-color: #fcb8a1;
  height: 200px;
  padding-top: 30px;
  padding-left: 10px;
  text-align: center;
}

.fa {
  padding: 15px;
  color: #150578;
}

.social {
  text-align: center;
}

@media only screen and (max-width: 320px) {
  aside {
    display: none;
  }
}

@media only screen and (min-width: 321px) {
  #ey {
    display: none;
  }

  aside {
    display: block;
  }

  body {
    background-image: url('/images/backgroundBig.svg');
    color: #ffffff;
    font-size: 60px;
  }
}