/* colors: 78c0e0, 449dd1, 150578 */

body {
  font-family: "Kulim Park", sans-serif;
  font-size: 16px;
  color: #150578;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

#ey {
  display: none;
}

aside {
  background-image: url("/images/construction.svg");
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
}

h1 {
  padding-top: 30px;
  padding-bottom: 30px;
}

p,
h1 {
  padding-left: 5px;
}

a {
  min-width: 48px;
  min-height: 48px;
  text-decoration: none;
  color: black;
}

header {
  background-image: url("/images/cloud1.jpg");
  background-size: cover;
  background-attachment: fixed;
  height: 60vh;
}

header img {
  width: 50px;
  padding-left: 10px;
}

nav {
  float: right;
  padding: 15px 10px;
}

nav a {
  cursor: pointer;
  overflow: hidden;
  border-radius: 5px;
  color: #150578;
  border: 1px solid #150578;
  padding: 5px;
}

address {
  background-color: #449dd1;
  text-align: center;
  font-size: 1rem;
  margin-top: 1px;
  margin-bottom: 1px;
  padding: 15px 0;
}

#intro {
  margin-top: 35%;
  color: #150578;
  background-color: #449dd1;
  opacity: 0.7;
  padding-left: 10px;
  text-align: center;
  height: auto;
  font-size: 1.2rem;
  line-height: 1;
  padding: 5px;
}

#bio,
#portfolio {
  height: 350px;
}

#portfolio {
  box-shadow: 0 4px 8px 0;
  max-width: 310px;
  transition: 0.3s;
}

#portfolio:hover {
  box-shadow: 0 8px 16px 0;
}

.portfolio content {
  padding: 2px 16px;
}

section img {
  width: 100%;
  overflow: hidden;
}

#bio p,
#media p {
  width: 290px;
  margin: auto;
}

#media p span a {
  color: #150578;
}

footer {
  color: #150578;
  background-color: #78c0e0;
  height: 200px;
  padding-top: 30px;
  padding-left: 10px;
  text-align: center;
}

.fa {
  padding: 15px;
  color: #150578;
}

.social {
  text-align: center;
}